*{
    margin: 0;  /*Убираем изначальные отступы у сайта*/
}

body, html{
    background-color: #e9e9f2;  /*Задний фон всего сайта*/
    font-family: 'Geometria', 'Arial', sans-serif;
    color: #47474b;
    height: 100%;
    min-width: 20%;
}

.content{
    display: flex;
    flex-direction: column;
}

.profile{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 450px 200px auto;
    margin: 250px;
    margin-top: 150px;
    background-color: #cdcddb;
    width: 70%;
    height: 600px;
}

.infoBox{
    display: inherit;
    grid-row: 2fr;
    margin: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

.image_container{
    display: inherit;
    align-items: center;
}

.shortInfo{
    display: inherit;
    grid-row: 3fr;
    align-items: center;
    text-align: center;
}

.buttons{
    display: inherit;
    grid-row: 3fr;
    align-items: center;
}

button{
    height: 50px;
    font-size: 24px;
    width: 150px;
    cursor: pointer;
}

.users{
    display: inherit;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    max-height: 600px; 
    overflow-y: auto;
}

.user{
    display: inherit;
    grid-template-columns: repeat(2,3fr);
    height: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid black;
    margin: 30px;
    cursor: pointer;
}



